@import url('https://fonts.googleapis.com/css2?family=Lora &display=swap');
/* @import url('https://fonts.googleapi.com/css2?family=Mukta:wght@300&display=swap'); */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Lora;
}
html {
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 6.5rem;
    scroll-behavior: smooth;
}
#sec-1 {
    /* max-width: 100vw !impor3nt;  */
    background-image: url("./images/bg361.jpg");
    filter: blur(0.4px);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
}
#main-head {
    height: 420px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    /* justify-content:space-between;   */
    padding-bottom: 110px;
}

.a1 {
    /* border: 4px solid black; */
    margin: 10px auto;
    text-align: center;
    padding: 0 auto;
}
#nav-bar {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}
.nav-id {
    margin-top: 10px;
    margin-left: 10px;
    color: beige;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
}
.nav-id:hover{
    /* font-size:20px ; */
    color: rgb(255, 253, 253);
    text-shadow: 1px 1px white;
}
#name-id {
    cursor: pointer;
    margin-top: 50px;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 5.4rem;
    font-weight: bold;
    margin-bottom: 30px;
}
#img-id {
    cursor: pointer;
    background-image: url("./images/msc.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: -115px;
    border: 6px solid white;
}
#link-url a {
    cursor: pointer;
    filter: invert(100);
    margin: 20px;
}
 img:hover{
    text-shadow: 1px 1px white;
}
#intro {
    font-size: 19px;
    font-weight: bold;
    color: rgba(64, 64, 64, 0.964);
    width: 70vw;
    /* font-stretch: expanded; */
    line-height: 31px;
    margin: -80px auto 0;
}
.intro-i {
    color: rgba(0, 0, 255, 0.888);
}
/* skillls */

#skills,#work-exp,#projects,#contact{
    padding: 1rem 1rem 4rem;
    width: 100vw;
    height: auto;
    margin-top: 4rem;
    text-align: center;
}
#skills {
    background-color: #9e9b9b29;
}
#skill-sect {
    width: 80%;
    margin: 4rem auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skil-c {
    /* border: 2px solid black; */
    width: 16rem;
    height: 2.6rem;
    border-radius: 30px;
    box-shadow: 1px 1px 2px 1px #b9b9b9 inset;
    margin: 20px;
    overflow: hidden;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(191, 191, 191);
}
.round {
    border-radius: 20px 0 0 20px;
    box-shadow: 1px 1px 5px 2px #989882;
    height: inherit;
    padding-top: 10px;
    padding-left: 25px;
    color: rgb(239, 239, 239);
    cursor: pointer;
}
#skill-1 {
    width: 60%;
    background-color: rgba(0, 0, 255, 0.845);
}
#skill-2 {
    width: 80%;
    background-color: rgba(255, 174, 0, 0.944);
}
#skill-3 {
    width: 50%;
    background-color: rgba(206, 18, 227, 0.922);
}
#skill-4 {
    width: 80%;
    background-color: rgba(55, 203, 5, 0.873);
}
#skill-5 {
    width: 70%;
    background-color: rgba(0, 0, 255, 0.878);
}
#skill-6 {
    width: 90%;
    background-color: rgba(206, 18, 227, 0.922);
}
#skills img,#work-exp img,#projects img,#contact img{
    display: inline;
    position: relative;
    top: 1.3rem;
    cursor: pointer;
    right: 2rem;
}
#skills h2,#work-exp h2,#projects h2,#contact h2{
    display: inline;
    font-size: 3rem;
    color: #858585;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 4rem;
    cursor: pointer;
}

.skil-c:hover {
    box-shadow: 2px 2px 3px 2px #747474;
}

/* experence */
#section-exp {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.comapny-one {
    margin-top: 3rem;
    width: 46%;
    /* background-color: #858585; */
}
.exp-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.comp1{
    position: relative;
    top: -2rem;
}
.comp1 img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}
.comp1-work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.comp1-work span {
    text-align: right;
    font-size: 2.6rem;
    font-weight: bold;
}
.para {
    margin-top: 4rem;
}
.para p {
    font-size: 18px;
    font-weight: bold;
    color: rgba(51, 50, 50, 0.964);
    line-height: 30px;
}
.job{
    color: #fe7a07e7;
}
.company{
    color: #42d009e1;
}

/* dividor */
#dividor{
    width:2px;
    box-shadow: 2px 2px rgb(198, 198, 198);
    background-color: rgb(174, 168, 168);
    height:auto;
}
#dividor span{
    position: relative;
    left:-1.36rem;
}
#dividor img{
    position:sticky;
    top: 2rem;
    /* margin-right:2rem; */
    /* right:12rem; */
    /* position: relative; */
    left: 2rem;
    transform: rotate(180deg);
}
#slash{
    width: 100%;
    height: 3px;
    background-color: #747474;
    display: none;
}

/* projects */
#projects{
    margin-top: 0rem;
    margin-bottom: 0rem !important;
    /* margin-left: 4rem; */
}
#pro-id{
    cursor: pointer;
    width: 100%;
    margin: 2rem auto;
    /* padding:3rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.p1{
    position: relative;
    left: 2.2rem;
    width:26%;
    height:auto;
}
.p1 img{
    width: 100%;
   height:auto;
   cursor: pointer;
}
.p-id{
    opacity: 0;
    width:max-content;
    height:3rem;
    margin: 1px solid grey;
    font-size: 19px;
    position: relative;
    top: -50%;
    left:20%;
    font-weight: bold;
    padding: 1rem;
    background-color: #c2bbbb;
    /* filter: blur(0.7px); */

}
.p1 img:hover{
    opacity: 0.6;
    transform: scale(1.1)
}
.p1:hover .p-id{
    opacity: 0.9;
}
img:hover{
    transform: scale(1.5)
}
/*contact  */
#contact{
    margin: 0rem auto;
    background-image: linear-gradient(#5c258d, #4389a2);
}
#contact h2{
    color: rgb(245, 245, 245);
}
#contact img{
    filter: invert(100%);
}

/* contact */
input:focus{
    border-style: none;
    outline: none;
}
#con-sect{
    width: 80%;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#forms{
    width: 40%;
}
#f1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
} 
#f1 span{
    text-align: left;
    list-style: none;
    /* opacity: 0; */
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 3px solid rgb(170, 169, 169);
}
#f1 span input{
    color:rgb(245, 244, 244);
    width: 100%;
    list-style: none;
    border-style: none;
    padding: 0.4rem;
    background-color: inherit;
    font-weight: bold;
    font-size: 1.4rem;
}
::placeholder{
    color:rgb(237, 225, 225);
}
#sub{
    /* padding: 0.6rem; */
    border: 0px !important;
    padding: 0.4rem;
    background-color: inherit;
    width: 40%;
    border: 4px solid rgb(209, 208, 208) !important;
    margin: 0rem auto;
}
#submit{
    /* margin-top: 3rem auto; */
    border: none;
    color: #f4f4f4;
    background-color: inherit;
    font-weight: bold;
    font-size: 1.6rem;
}
#add{
    cursor: pointer;
    text-align:left !important;
    font-size: 2.1rem;
    font-weight: bold;
    color: #f4f4f4;
}
/* address */
#address{
    width: 29%;
} 
#add-on{
    margin: 2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align:left;
    font-size: 1.2rem;
    font-weight: bold;
    color: #f4f4f4;
}
#add-on div{
    margin-top: 1rem;
}
#add-on div img{
    position: relative;
    top: 0.5rem;
}
.url-2{
    /* margin-right: 3rem; */
    filter:invert(100%);
}
/* media queries */
@media (max-width:1100px) {
    #nav-bar {
        display: none;
    }
    #main-head {
        height: 400px;
    }
    #img-id {
        height: 210px;
        width: 210px;
    }
    #name-id {
        font-size: 4rem;
    }
    #section-exp {
        margin-top: 3rem;
    }
    #work-exp{
        margin-top: 3rem;
        margin-bottom: 0px;
    }
    .comap1 img{
       height: 3rem;
       width: 3rem;
    }
    #projects{
        margin-top: 0rem;
    }
    #section-exp {
        margin-top: 3rem;
        flex-direction: column;
    }
    .comapny-one {
        display: block;
        width: 100%;
        margin-top: 2rem
    }
    #slash{
        margin: 2rem;
        display: block;
    }
    #dividor,#address{
        display: none;
    }
    #con-sect{
        flex-direction: column;
    }
    #con-sect div{
        margin-top: 1rem;
        width: 80%;
    } 
}

